__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.vscode/
.history/
*.code-workspace
.DS_Store
instance/
projeto-pap-284ca-firebase-adminsdk-fbsvc-41e8ef91e8.json
y 
.firebaserc
firebase.json
.firebase
static/js/firebase_auth.js
static/js/firebase_db.js
static/js/firebase_storage.js