<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário de Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questionario.css') }}">
</head>
<body>

    <div id="root"></div>

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Agora o caminho é CORRETO -->
<script type="text/babel" src="{{ url_for('static', filename='js/questionario-react.js') }}"></script>

</body>
</html>
